<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=ASUS-PC\SQLEXPRESS;Database=MagazineCosmetice;Integrated Security=True;TrustServerCertificate=True;" />
	</connectionStrings>

	<appSettings>
		
		
		
<!--
<add key="MasterTable" value="Magazine" />
<add key="DetailTable" value="Angajati" />
<add key="MasterPrimaryKey" value="Mid" />
<add key="DetailForeignKey" value="MagazinID" />
<add key="MasterSelectQuery" value="SELECT * FROM Magazine" />
<add key="DetailSelectQuery" value="SELECT * FROM Angajati" />
<add key="DetailInsertQuery" value="INSERT INTO Angajati (NumeAngajat, Functie, MagazinID) VALUES (@Nume, @Functie, @masterId)" />
<add key="DetailDeleteQuery" value="DELETE FROM Angajati WHERE Aid = @id" />
<add key="DetailFields" value="Nume,Functie" /> 
		-->


<add key="MasterTable" value="Clienti" />
		<add key="DetailTable" value="Comenzi" />
		<add key="MasterPrimaryKey" value="ClientID" />
		<add key="DetailForeignKey" value="ClientID" />
		<add key="MasterSelectQuery" value="SELECT * FROM Clienti" />
		<add key="DetailSelectQuery" value="SELECT * FROM Comenzi" />
		<add key="DetailInsertQuery" value="INSERT INTO Comenzi (ClientID, Mid, SumaTotala) VALUES (@masterId, @Nume, @Functie)" />
		<add key="DetailDeleteQuery" value="DELETE FROM Comenzi WHERE ComandaID = @id" />
		<add key="DetailFields" value="Nume,Functie" />
		
		
	</appSettings>
</configuration>